header{
	padding: 32px 0 0;
	@media screen and (max-width: $screenM){
		padding: 24px 0 0;
	}
	.container{
		display: flex;
		align-items: center;
	}
}
.header-logo{
	width: 184px;
	@media screen and (max-width: $screenS){
		width: 140px;
	}
	img{
		width: 100%;
		height: auto;
	}
}
.header-menu{
	margin-left: auto;
	display: flex;

	li{
		margin-left: 16px;
	}
	@media screen and (max-width: $screenS){
		font-size: 16px;
		flex-direction: column;
		line-height: 1;
		li{
			margin-left: 8px;
			margin-bottom: 6px;
		}
	}
}