.section-list{
	margin-bottom: 32px;
	&:last-child{
		margin-bottom: 0;
	}
}
.section-item{

	

	&:not(:last-child){
		margin-bottom: 16px;
		border-bottom: 1px solid $secd;
		padding-bottom: 8px;
	}
}
.section-item__tittle{
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
	font-weight: 500;
	@media screen and (max-width: $screenS){
		flex-direction: column;
		align-items: flex-start;
	}
}
.section-item__date{
	padding-right: 24px;
	font-weight: 500;
	font-size: 16px;
}
.section-item__docs{
	max-width: 850px;
	@media screen and (max-width: $screenS){
		font-size: 16px;
	}
	li{
		display: flex;
		margin-bottom: 8px;
		@media screen and (max-width: $screenM){
			flex-direction: column;
		}
		span{
			width: calc(100% - 250px);
			@media screen and (max-width: $screenM){
				width: 100%;
			}
				
			
		}
		a{
			margin-left: 16px;
			width: 250px;
			flex-shrink: 0;
			text-decoration: underline;
			@media screen and (max-width: $screenM){
				width: 100%;
				margin-left: 0;
			}
		}
	}
}