.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}
.modal-open{
	overflow: hidden;
	overflow-y: hidden;
}
.modal-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1065;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

@media only screen and (max-width: 1024px) {
    .modal {
        overflow-y:auto
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
}

@media only screen and (max-width: 576px) {
    .modal-dialog {
        margin:0
    }
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px)
}

@media screen and (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        -webkit-transition: none;
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal-dialog-centered {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (.5rem * 2));
    content: ""
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;

    .btn{
    	margin-top: 16px;
        border: 1px solid #f5efe8;
        padding: 18px 54px;
        &:hover{
           color: #fff;
        }
    }
}

@media only screen and (max-width: 576px) {
    .modal-content {
        border-radius:0;
        border: none
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1061;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}



.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -2rem -1rem auto
}



.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1rem
}


.modal-footer .btn {
    margin: auto
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}


.form-row{
    display: flex;
    margin-top: 20px;



}
.modal-dialog{
	margin: auto;
    max-width: 668px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items:center;
    
}



.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.fade.show{
	opacity: 1;
}



.modal-dialog .form-field .form-label{
	width: 100%;
}



