mixin modal
    .modal(role='dialog' id="modal-success")
      .modal-dialog
        .modal-content
            .modal-title Запрос отправлен на почту
            p В ближайшее время с вами свяжутся, <br>чтобы обсудить подробности договора
            button(type='button' data-dismiss='modal' aria-label='Close').btn Закрыть