@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('fonts/PFDinTextCondPro Regular.eot');
  src: url('fonts/PFDinTextCondPro Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/PFDinTextCondPro Regular.woff2') format('woff2'),
       url('fonts/PFDinTextCondPro-Regular.ttf') format('truetype'),
       url('fonts/PFDinTextCondPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('fonts/PFDinTextCondPro Medium.eot');
  src: url('fonts/PFDinTextCondPro Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/PFDinTextCondPro Medium.woff2') format('woff2'),
       url('fonts/PFDinTextCondPro-Medium.ttf') format('truetype'),
       url('fonts/PFDinTextCondPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}




.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
}

@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,{
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 1320px;
  }
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px
}


* {
  box-sizing: border-box;
}

html {
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: $main;
  background: #fff;
  font-family: $primaryFont;
  font-size: $font-size-root;
  flex-grow: 2;
  display: flex;
  overflow-x: hidden;
  line-height: 1.35;
}
body{
    transition: 300ms
}

.page-content{
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
} 
section{
  padding: 64px 0;
  @media screen and (max-width: $screenM){
    padding: 24px 0;
  }
}
a,p {
  color: inherit;
  text-decoration: none;
  
  transition: 0.11s linear;
}
a{
  cursor: pointer;
  color: $a;
  &:focus{
    color:$ah; 
  }
}
a:hover,a.active {
  text-decoration: none;
  color: $ah;
}

[data-input="mouse"] *:focus {
  outline: none;  
}

input+label{
  cursor: pointer;
}
[disabled]{
  opacity: 0.6;
  user-select: none;
  pointer-events: none;
}
button{
  transition: .11s linear;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
}

h1 {
  font-size: 48px;
  margin: 98px 0 0;

  margin-bottom: 32px;
  font-weight: 500;
  


}

h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500;

}

h4 {
  font-size: 16px;
  margin: 1.5em 0 0;
  font-weight: 500;

}

h5 {
  font-size: 14px;
  margin: 1.5em 0 0;
  font-weight: 500;
}
h6{
  font-size: 16px;
  font-weight: 500;
}



/* Headings */




blockquote,
q {
  quotes: none;
}




dl,
dd,
menu,
ol,
ul {
  margin: 0;
}

menu,
ol,
ul {
  padding: 0;
  list-style-type: none;
}



*[hidden] {
  display: none !important;
}


p{
  margin-top: 0;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

[data-input="mouse"] *:focus{
  outline: none;
}
[data-input="keyboard"] *:focus{
  color: $ah;
}
[data-input="keyboard"] *:focus{
  outline: 1px auto $main;
}
[data-input="keyboard"] input:focus,[data-input="keyboard"] textarea:focus{
  outline: 0;
}
[disabled]{
  opacity: .3;
  pointer-events: none;
}