$font-size-root:         18px;






$ah: #005fcf;
$a: #000;
$main:#000;
$secd:#005fcf;

$bg: #F5EFE8;


$screenXS:               0;
$screenS:                576px;
$screenM:                768px;
$screenL:                992px;
$screenXL:               1200px;
$screenXXL:              1400px;



$secondaryFont:          'PFDinTextCondPro', sans-serif;
$primaryFont:            'PFDinTextCondPro',  sans-serif;
