extends layout/_layout

block vars
  - var pageName = 'Главная'
  - var bodyClass = ''

block content
    .page-content
        section
            .container
                h2.basic-title Текущие закупки
                .section-list
                    mixin item 
                        .section-item
                            .section-item__tittle
                                .section-item__date 19.05.2020
                                .section-item__name Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                            ul.section-item__docs
                                li
                                    span Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') document.docx (1.2 Мб)
                                li
                                    span Состав Центральной закупочной комисси Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛи АО «Управление ВОЛС-ВЛ» Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') document.docx (1.2 Мб)
                                li 
                                    span Состав Центральной закупочной комиссии АО «Управление ВОЛС-ВЛ»
                                    a(href='#') Документ с оооооооочень длинным названием Документ с оооооооочень длинным названием.docx (1.2 Мб)
                    +item
                    +item
                    +item
                h2.basic-title Завершенные закупки
                .section-list
                    +item
                    +item
                    +item
                    +item