header
    .container      
        .header-logo
            img(src='tpl/img/logo.svg' alt='Лого')
        ul.header-menu
            li: a(href='#' target='blank') Положение о закупках
            li: a(href='#' target='blank') План закупок
