head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")


  //meta tags
  meta(name="description" content="")
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:type" content="website">
  <meta property="og:url" content=""> 
  <meta property="og:title" content="Главная"/>
  <meta property="og:description" content=""/>




  <link rel="apple-touch-icon" sizes="57x57" href="tpl/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="tpl/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="tpl/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="tpl/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="tpl/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="tpl/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="tpl/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="tpl/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="tpl/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="tpl/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="tpl/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="tpl/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="tpl/favicons/favicon-16x16.png">
  <link rel="manifest" href="tpl/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="tpl/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  // favfavicons


  //title
  title #{pageName}


  //fonts


  // css
  link(href="tpl/template_styles.css" rel="stylesheet")  
  


  block head
