doctype html
html(lang="ru")
	block vars
	include ../includes/_head

	body(class= bodyClass)
			include ../includes/_header
			
			block content
			

			
			if !footer
				include ../includes/_footer
					include ../includes/icons.svg
				script(src="tpl/js/jquery.min.js")
				script(src="tpl/js/lib.min.js")
				script(src="tpl/js/main.js")

	
